# Set at build time (nuxt generate / deploy:aws)
CONTACT_API_URL=https://xxxxxxxx.execute-api.ap-northeast-1.amazonaws.com/contact

# Cloudflare Turnstile site key (public). Secret is only in Terraform / Lambda.
TURNSTILE_SITE_KEY=0x4AAAA...
